# Python cache
__pycache__/

# Debug files
ERROR_LOGS/

# Virtual environment
venv/

# Input and output files
infiles/
outfiles/
outfiles_pos/
*.jsonl
*.zip

# Notes (personal, not code)
junk*
notes.txt
*.key

outputs/outputs_gpt-5-nano/
outputs/outputs_gpt-5.2_initial_run/
